*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.dylib
*.pyc
*~
/build/
/build_linux/
/build_win/
/wheels/linux/
/wheels/windows/
/config.*
/aclocal.m4
/autom4te.cache/
/makefile.inc
/bin/
/tests/test
/tests/gtest/
dataset_cache/
.venv/
__pycache__/
.mypy_cache/
jecq/python/swigjecq_avx2.swig
jecq/python/swigjecq_avx512.swig
jecq/python/swigjecq_avx512_spr.swig
jecq/python/swigjecq_sve.swig